<div class="container p-4">
  <h2>Projects</h2>
  <div class="row">
    <div class="col-6">
      create new Project
      <form  (ngSubmit)="addNewProject(name.value)">
        <div class="mb-3">
          <input
            type="text"
            class="form-control mt-2"
            #name
            aria-describedby="helpId"
            placeholder=""
          />
          <small id="helpId" class="form-text text-muted"
            >Enter project Name(special characters are not allowed)</small
          >
        </div>
        <button type="submit" [disabled]="!name.value" class="btn btn-success">New</button>
      </form>
    </div>
    <div class="col-6">
        <ng-container *ngIf="!projects">
<h1  [ngStyle]="{'text-align':'center'}" class="m-auto">No exciting Projects</h1>
        </ng-container>
      <ng-container *ngFor="let project of projects | keyvalue">
        <button  class="list-single-project" (click)="openProject(project.key)">{{ project.value.name }}</button>
      </ng-container>
    </div>
  </div>
</div>
